.preview-wrapper {
    --white: RGB(255, 255, 255);
}

.preview__header-wrapper {
    display: flex;
    background-color: var(--almost-black);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
