
.preview-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: RGB(243, 242, 239);
    min-width: 350px;
    font-family: "Poppins";
    display: flex;
    flex-flow: column;
    width: 100%;
}

.preview__header-wrapper {
    display: flex;
    background-color: var(--almost-black);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.page-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.page {
    background: linear-gradient(to right, rgb(51, 51, 51) 37%, white 37%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: RGB(51, 51, 51);
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 7px 7px rgb(100, 100, 100, .2);
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 8%;
    overflow: hidden;
}

.page__profile {
    border: 10px solid white;
    width: 80%;
    background-color: RGB(153, 199, 199);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
    padding: 2% 10% 2% 5%;
}

.page__content {
    margin-top: 3%;
    margin-left: 40%;
    align-self: start;
}

.profile__name {
    text-transform: uppercase;
    margin-bottom: 5%;
    font-weight: 500;
}

.profile__infos {
    width: 60%;
}

.profile__infos > p {
    margin-bottom: 2%;
    display: flex;
    overflow-wrap: anywhere;
}

.profile__infos > p > svg {
    padding-right: 3%;
}

.profile__image {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    object-fit: cover;
    background: white;
    padding: 1%;
}

.page__outer {
    position: relative;
    padding-top: 140%; 
    width: 100%;
    margin-bottom: 20px;
}

.content__subsection__title {
    font-size: 2vw;
    color: white;
    background-color: RGB(153, 199, 199);
    padding: 0 4%;
    width: fit-content;
    font-weight: normal;
    text-transform: uppercase;
}

.cv-entry {
    font-size: 1.5vw;
    margin: 4% 0;
}

.entry__name-and-date {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

.cv-entry .name {
    font-weight: bold;
}

.cv-entry .entry__location {
    color: rgb(51, 51, 51, .7) 
}

.cv-entry .name,
.cv-entry .entry__location,
.cv-entry .entry__description {
    width: 40%;
}

.page__download-button {
    font-size: 1rem; 
    display: flex;
    gap: 7px;
    align-self: end;
    margin-bottom: 30px;
}
