@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --almost-black: rgb(29, 29, 32);    
    --almost-black-hover: rgb(46, 46, 51);
    --almost-blue: rgb(23, 61, 255);
    --almost-blue-hover: rgb(65, 108, 255);
    --thin-grey: rgb(50, 50, 50, .2);
    --little-grey: rgb(50, 50, 50, .4);
    --input-grey: rgb(82, 82, 90);
}

body {
    font-family: ui-sans-serif, system-ui;
}

/* -- GENERAL -- */ 

button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
    font-family: inherit;
}

/* -- GENERICS ELEMENTS -- */

.blue-button {
    background-color: var(--almost-blue);
    color: white;
    padding: 10px 10px;
    font-weight: bold;
}

.blue-button:hover {
    background-color: var(--almost-blue-hover);
}

.dark-button {
    background-color: var(--almost-black);
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 10px 10px;
    color: white;
}

.dark-button:hover {
    background-color: var(--almost-black-hover);
}

.white-button {
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid var(--little-grey);
    transition: 
        border .1s ease,
        background-color .3s ease;
}

.white-button:hover {
    border: 1px solid var(--almost-blue);
    background-color: rgb(200, 200, 200, .2);
}

.white-button:active {
    background-color: rgb(200, 200, 200, .6);
    
}

.white-button svg {
    color: rgb(50, 50, 50);
}

.colps-element {
    border-bottom: 1px solid var(--thin-grey);
}

.colps-section__content {
    margin-bottom: 40px;
}

.colps-section__title {
    font-size: 1.3rem;
}

.form-input-container {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: .5rem 0;
}

label {
    color: var(--input-grey);
    font-size: .9rem;
    font-weight: 500;
}

textarea {
    margin-top: 3px;
    border: 1px solid rgb(100, 100, 100, .0);
    padding: 10px 12px;
    font-family: inherit;
    background-color: rgb(100, 100, 100, .1);
    font-size: 1rem;
    border-radius: 3px;
    transition: border .2s ease;
    width: 100%;
    resize: none;
    outline: none;
}

textarea:focus {
    outline: 0;
    border: 1px solid var(--almost-blue-hover);
}

.form-input-container input {
    border: 1px solid rgb(100, 100, 100, .0);
    padding: 10px 12px;
    font-family: inherit;
    background-color: rgb(100, 100, 100, .1);
    font-size: 1rem;
    border-radius: 3px;
    transition: border .2s ease;
    width: 100%;
}

.form-input-container input:focus {
    outline: 0;
    border: 1px solid var(--almost-blue-hover);
}

.form-input-container input.photo-input {
    position: relative;
    width: 125px;
    height: 125px;
}

.form-input-container input.photo-input:focus {
    border: 1px solid var(--almost-blue);
}

label[for=photo] {
    position: relative;
}

label[for=photo]::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 1px;
    width: 123px;
    height: 122px;
    background-color: RGB(239, 239, 239);
    opacity: 1;
    z-index: 3;
    border-radius: 3px;
}

.floating-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 360px;
    width: 55px;
    height: 55px;
}
